/*///////////////
/// HEADER
*/ //////////////

header {
	position: fixed;
	width: 100%;
	z-index: 1000;

	background-color: $color-white;
	box-shadow: 0px 5px 10px rgba($color-black, 0.025);
	color: black;

	.row {
		background-color: $color-white;
	}

	a {
		color: black;
	}

	.btn,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		margin-left: auto;
		padding: 0;

		border: none;
		color: $color-black;

		i {
			margin-left: 0;
		}

		@include active-states() {
			background: none;
			color: $color-black;
		}
	}

	li {
		letter-spacing: 1px;
		text-transform: capitalize;
	}

	nav {
		display: none;

		a {
			border-bottom: 1px solid rgba($color-primary, 0);
			text-decoration: none;

			@include active-states() {
				border-bottom: 1px solid $color-primary;

				text-decoration: none;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;

		list-style: none;
	}

	.active {
		a {
			border-bottom: 1px solid $color-primary;
		}
	}

	.header__contents {
		align-items: center;
		display: flex;
		min-height: 57px;
	}

	.header__menu {
		@include bp-max-width($bp-lg) {
			display: flex;
			flex-direction: column;
			height: 100%;
			left: 0;
			margin-left: auto;
			margin-right: auto;
			padding: 0 15px;
			position: fixed;
			top: -1024px;
			top: -100vh;
			width: 100%;
			z-index: $z-index-back;

			background-color: $color-primary;
			color: $color-white;
			transition: 0.4s top ease;

			li {
				~ li {
					margin-top: $spacing-small;
				}
			}
		}

		a {
			color: $color-white;
		}

		ul {
			margin: 57px auto 24px;
			width: 100%;

			@media (min-width: 576px) {
				max-width: 540px;
				padding: 0 15px;
			}

			@media (min-width: 768px) {
				max-width: 720px;
			}

			@media (min-width: 992px) {
				max-width: 960px;
			}

			@media (min-width: 1200px) {
				max-width: 1140px;
			}
		}

		&.menu-show {
			top: 0px;
		}
	}

	@include bp-min-width($bp-lg) {
		position: relative;

		a {
			align-items: center;
			display: flex;
			justify-content: center;
			min-height: 57px;

			&:after {
				content: "";
				min-height: inherit;
				font-size: 0;
			}
		}

		.btn,
		button,
		input[type="submit"],
		input[type="reset"],
		input[type="button"] {
			display: none;
		}

		li {
			display: inline-flex;

			~ li {
				margin-left: 24px;
			}
		}

		nav {
			display: block;
		}

		.header__menu {
			margin: 0 auto;

			background-color: transparent;
			color: $color-black;
			text-align: center;

			a {
				color: $color-black;
			}

			ul {
				margin: 0;
			}
		}
	}
}
