/* NAV */

.navbar {
	img {
		height: 50px;
	}
}

@include bp-min-width($bp-md) {
	nav {
		padding-left: auto;
		padding-right: 0;
		margin-top: $spacing-default;
		z-index: 2;

		li {
			float: left;
			margin-left: $spacing-default;
		}

		li a {
			font-size: 14px;
			letter-spacing: 1.5px;
			color: $color-black;
			text-decoration: none;
			text-transform: uppercase;
		}

		ul {
			display: inline;
			list-style-type: none;
			padding: 0;
		}
	}
}
