<div class="col-12 subscribe">
	<h2>Get monthly updates on shopify news</h2>
	<h4>Email Address</h4>
	<input type="text">
	<button type="button" class="btn-banner">Subscribe to updates</button>
</div>