<div class="container hero text-white">
	<div class="row">
		<div class="col-12">
			<h1 class="hero__title">Shopify Meetups</h1>
			<p class="hero__summary">Let your heart be your guide. You can do anything here.So don't worry about it. That's a crooked
				tree. We'll send him to Washington.</p>
		</div>
	</div>
</div>