<div class="hero">
	<div class="container text-white">
		<div class="row">
			{{> @navbar}}
			<div class="col-12 col-md-6 col-lg-5">
				<h1 class="hero__title">{{ heroTitle }}</h1>
				<p class="hero__summary">Let your heart be your guide. You can do anything here. So don't worry about it. That's a crooked
					tree. We'll send him to Washington.</p>
			</div>
		</div>
	</div>
</div>