<div class="hero">
	<div class="container text-white">
		<div class="row">
			<nav>
				<ul class="d-none d-md-inline">
					<li><a href="#">Home</a></li>
					<li><a href="#">Meetups</a></li>
					<li><a href="#">News & Updates</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
			<div class="col-12 col-md-6">
				<h1 class="hero__title">{{ heroTitle }}</h1>
				<p class="hero__summary">Let your heart be your guide. You can do anything here. So don't worry about it. That's a crooked
					tree. We'll send him to Washington.</p>
			</div>
		</div>
	</div>
</div>