<footer>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>Site Links</h3>
				<ul>
					<a href="#"><li>Homepage</li></a>
					<a href="#"><li>Events</li></a>
					<a href="#"><li>Updates</li></a>
					<a href="#"><li>Contact</li></a>
					<a href="#"><li>About</li></a>
				</ul>
				<h3>Latest Events</h3>
				<ul>
					<a href="#"><li>Shopify meetup Reading</li></a>
					<a href="#"><li>Shopify meetup Hampshire</li></a>
					<a href="#"><li>Shopify meetup Basingstoke</li></a>
					<a href="#"><li>Shopify meetup Portsmouth</li></a>
				</ul>
				<h3>latest News</h3>
				<ul>
					<a href="#"><li>Shopify meetup Reading</li></a>
					<a href="#"><li>Shopify meetup Hampshire</li></a>
					<a href="#"><li>Shopify meetup Basingstoke</li></a>
					<a href="#"><li>Shopify meetup Portsmouth</li></a>
				</ul>
				<h3>We're Social</h3>
				<ul>
					<a href="#"><li>Twitter Page</li></a>
					<a href="#"><li>Linkedin Page</li></a>
					<a href="#"><li>Facebook Page</li></a>
					<a href="#"><li>EventBrite Page</li></a>
				</ul>
				<h3>Made by the folks at <a href="#">Noface</a></h3>
			</div>
		</div>
	</div>
</footer>