<nav>
	<ul class="d-none d-md-inline">
		<li><a href="#">Home</a></li>
		<li><a href="#">Meetups</a></li>
		<li><a href="#">News & Updates</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</nav>