<div class="col-12 d-flex mt-3">
	<h6>Shopify</h6>
	<nav>
		<ul class="d-none d-md-inline">
			<li><a href="#">Home</a></li>
			<li><a href="#">Meetups</a></li>
			<li><a href="#">News &amp; Updates</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
</div>