<div class="col-12 about__desc">
	<img src="{{ path '/images/favicon/android-chrome-512x512.png' }}">
	<h2>Shopify Meetups</h2>
	<p>Let your heart be your guide. You can do anything here. So don't worry about it. That's a crooked tree. We'll send him
		to Washington. So don't worry about it. That's a crooked tree. </p>
	<p>Let your heart be your guide. You can do anything here.</p>
	<a href="#">View the NoFace Website</a>
	<img src="{{ path '/images/NoFace-Logo-Black.svg' }}">
	<h2>NoFace</h2>
	<p>Let your heart be your guide. You can do anything here. So don't worry about it. That's a crooked tree. We'll send him
		to Washington. So don't worry about it. That's a crooked tree. </p>
	<p>Let your heart be your guide. You can do anything here.</p>
	<a href="#">View the NoFace Website</a>
</div>