{{> '@hero-blue' }}
<div class="container">
	<div class="row">
		{{> @updates}} {{> @updates}} {{> @updates}} {{> @updates}} {{> @updates}} {{> @updates}}
	</div>
</div>
{{> '@subscribe'}} {{> '@footer'}}