.content {
	margin: $spacing-default 0 $spacing-default;

	a {
		color: $color-primary;
		font-size: 14px;
	}

	img {
		height: auto;
		max-width: 100%;
	}

	p {
		font-size: 14px;
	}

	@include bp-min-width($bp-md) {
		margin: $spacing-large 0 $spacing-default;
		padding: 0 $spacing-default;
	}
}
