.hero {
	background-image: url(https://source.unsplash.com/random/400x600);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: $spacing-huge;
	position: relative;

	&::before {
		background-color: rgba($color-primary, 0.8);
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@include bp-min-width($bp-md) {
		nav {
			margin-left: auto;
			margin-right: 0;
			z-index: 2;

			li {
				float: left;
				margin-left: $spacing-default;
			}

			li a {
				font-size: 14px;
				letter-spacing: 1.5px;
				color: $color-white;
				text-decoration: none;
				text-transform: uppercase;
			}

			ul {
				display: inline;
				list-style-type: none;
				padding: 0;
			}
		}
	}
}

.hero-blank {

	@include bp-min-width($bp-md) {
		nav {
			margin-left: auto;
			margin-right: 0;
			z-index: 2;

			li {
				float: left;
				margin-left: $spacing-default;
			}

			li a {
				font-size: 14px;
				letter-spacing: 1.5px;
				color: $color-black;
				text-decoration: none;
				text-transform: uppercase;
			}

			ul {
				display: inline;
				list-style-type: none;
				padding: 0;
			}
		}
	}
}

.hero__title {
	margin: $spacing-large 0 $spacing-default;
	@include bp-min-width($bp-md) {
		margin-top: $spacing-huge;
	}
}

.hero__summary {
	margin: $spacing-default 0 $spacing-large;

	font-weight: $font-weight-default;
	font-size: 18px;
}
