.update {
	margin: $spacing-large 0;

	a {
		color: $color-primary;
		font-size: 14px;
	}

	img {
		height: auto;
		max-width: 100%;
	}

	p {
		font-size: 14px;
	}
}

.update__intro {
	h2 {
		font-size: 36px;
	}

	p {
		margin: 0;
	}
}
