<div class="col-12 col-md-6 col-lg-4 content">
	<a href="#"><img src="https://source.unsplash.com/random/345x180"></a>
	<h6>02/05/2018 - 6.00PM</h6>
	<a href="#"><h2>{{contentTitle}}</h2></a>
	<p>Let your heart be your guide. You can do anything here. So don't worry about it. That's a crooked tree. We'll send him
		to Washington.
	</p>
	<a href="#">Book a ticket for Shopify Hampshire</a>
</div>